version: 1.0.{build}
image: Visual Studio 2019
build: off
install:
  - ps: iex ((New-Object Net.WebClient).DownloadString('https://raw.githubusercontent.com/appveyor/secure-file/master/install.ps1'))
test_script:
- ps: >-
    $res = Invoke-Pester -Path ".\Tests" -OutputFormat NUnitXml -OutputFile TestsResults.xml -PassThru

    (New-Object 'System.Net.WebClient').UploadFile("https://ci.appveyor.com/api/testresults/nunit/$($env:APPVEYOR_JOB_ID)", (Resolve-Path .\TestsResults.xml))

    if ($res.FailedCount -gt 0) { throw "$($res.FailedCount) tests failed."}

    Write-Host "$env:NuGetApiKey <=================="
environment:
  NuGetApiKey:
    secure: NXGXJ+97H9oxRd297f7VGA==