version: 1.0.{build}
image: Visual Studio 2019
build: off
test_script:
- ps: >-

    $res = Invoke-Pester -Path ".\Tests" -OutputFormat NUnitXml -OutputFile TestsResults.xml -PassThru
    (New-Object 'System.Net.WebClient').UploadFile("https://ci.appveyor.com/api/testresults/nunit/$($env:APPVEYOR_JOB_ID)", (Resolve-Path .\TestsResults.xml))
    if ($res.FailedCount -gt 0) { throw "$($res.FailedCount) tests failed."}
deploy_script:
- ps: Publish-Module -Name PoShLumberjack -NuGetApiKey $env:NuGetApiKey
environment:
  NuGetApiKey:
    secure: mlo+xHPV+xO1ROCpy4PbYcUKZP4m44uyUlAzOv7r4oW7qOJkT4B9qQ4CEO42kgf4
